  header {
    background-color: #3b82f6;
    padding: 20px;
    color: white;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    font-size: 2.5vh;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a.active {
    font-weight: bold;
  }
  
  .chucnang-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .chucnang-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  .chucnang-card h2 {
    color: black;
  }

  .chucnang-card label {
    font-weight: bold;
    font-size: 20px;
  }
  
  .switch-group {
    margin-bottom: 20px;
  }
  
  .switch-group div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  .switch-group div p {
    color: black;
    font-size: 20px;
  }
  
  .switch-group p {
    margin: 0;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #3b82f6;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .log-group {
    display: flex;
    flex-direction: column;
  }
  
  .log-group div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .log-group div p {
    color: black;
    font-size: 20px
  }
  
  .log-group button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .log-group button:hover {
    background-color: #2563eb;
  }
  
  .logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  