.phanbon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.phanbon-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 350px;
  text-align: center;
}

.phanbon-card p {
  color: black;
}

.phanbon-card h2 {
  font-size: 1.3em;
}

.gas-chart {
  margin-top: 100px;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
