header {
  background-color: #3b82f6;
  padding: 20px;
  color: white;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.vuon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.vuon-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.vuon-card p {
  color: black;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.humidity-chart {
  position: relative;
  width: 300px;
  height: 300px;
}

.temperature-gauge {
  position: relative;
  width: 200px;
  height: 200px;
}

.chart-value {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #00aaff;
}

.tempHumidity-soil {
  margin-top: 100px;
}

.npk-container {
  margin-top: 132px;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
